body{
    background: linear-gradient(to bottom, #0d3875, #0b0f16);
}

.custom-swal-popup {
    background-color: #1b1d30 !important; /* Set the desired background color */
    color: #ffffff; /* Adjust text color for readability */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for better visual depth */
  }